html, body, #root {
  height: 100%;
}

.hotels {
  margin: auto auto;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.hotels__hotel {
  padding: 20px;
}


.hotels__loader {
  padding: 20px;
}
